
body {
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coffeetime-icon {
    filter: invert(100%);
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.header-title {
    color: white;
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: bold;
}